:root {
    --main-accent-color: #FFD300;
    --sub-accent-color: #3EA6FB;
    --black200: rgba(40, 40, 40, 0.7);
    --white200: rgba(255, 255, 255, 0.7);
    --white300: rgba(255, 255, 255, 0.4);

    --delay: 500ms;
    --timing: ease;

    --nav-height: 64px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #282828;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #FFF;
}

.body--fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
}


a {
    color: white;
}


img {
    background-color: var(--main-accent-color);
    width: 100%;
}


input,
textarea,
button {
    outline-color: var(--main-accent-color);
}


.hidden {
    display: none !important;
}


.main {
    position: relative;
    overflow: auto;
    padding-bottom: var(--nav-height);
}


@keyframes showItem {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}


.timer-container {
    display: flex;
    align-items: center;
}

.timer-icon {
    background: url('/assets/timer.svg') no-repeat;
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 0;
}

.timer {
    margin-left: 5px;
}

.timer span:not(:last-child) {
    padding-right: 3px;
}

.timer span::after {
    display: inline;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.days::after {
    content: 'D';
}

.hours::after {
    content: 'H';
}

.mins::after {
    content: 'M';
}

.secs::after {
    content: 'S';
}
