:root {
    --main-accent-color: #FFD300;
    --delay: 500ms;
    --timing: ease;
}

body {
    background-color: #282828;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
}


img {
    width: 100%;
}


input,
button {
    outline-color: var(--main-accent-color);
}


@keyframes showItem {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}


@media all and (max-width: 480px) {
    body {
        font-size: 14px;
    }
}
